In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
from collections import Counter
import seaborn as sns
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [76]:
# sklearn processing and classification 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler

In [77]:
# import the data
file_path = pd.read_csv('C:/Users/lizzi/School/Group_5_Final_Project/violence_count_df.csv')

In [78]:
file_path.HIGHEST_NIBRS_CODE.unique()

array(['899', '23C', '801', '13B', '800', '803', '13C', '120', '90Z',
       '23D', '23G', '13A', '210', '26A', '23H', '26E', '35A', '26F',
       '23F', '250', '270', '240', '220', '520', '290', '23A', '802',
       '11D', '26B', '35B', '100', '23B', '90J', '26C', '09A', '370',
       '280', '26G', '807', '809', '99Z', '200', '90D', '99Y', '90F',
       '11A', '11C', '90C', '40A', '11B', '810', '90H', '90G', '64A',
       '36B', '23E', '720', '90A', '804', '09B', '09C', '64B', '90B',
       '26D', '36A', '40C', '40B', '39B', '806', '39C', '39A', '510'],
      dtype=object)

In [79]:
# use get dummies to feed more data into the model
df_encoded = pd.get_dummies(file_path, columns=["DIVISION_ID", "PLACE_TYPE_DESCRIPTION", "CLEARANCE_STATUS", "HIGHEST_NIBRS_CODE"])

In [80]:
df_encoded.head()

,ROW_ID,INCIDENT_REPORT_ID,CITY_NEW,VIOLENCE,DIVISION_ID_0,DIVISION_ID_1,DIVISION_ID_2,DIVISION_ID_6,DIVISION_ID_7,DIVISION_ID_11,...,HIGHEST_NIBRS_CODE_90B,HIGHEST_NIBRS_CODE_90C,HIGHEST_NIBRS_CODE_90D,HIGHEST_NIBRS_CODE_90F,HIGHEST_NIBRS_CODE_90G,HIGHEST_NIBRS_CODE_90H,HIGHEST_NIBRS_CODE_90J,HIGHEST_NIBRS_CODE_90Z,HIGHEST_NIBRS_CODE_99Y,HIGHEST_NIBRS_CODE_99Z
0,0,20220513_2308_01,Charlotte,non-violent,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,20220513_2308_02,Charlotte,non-violent,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,20220513_2308_03,Charlotte,non-violent,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,20220513_2308_04,Charlotte,non-violent,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,20220513_2308_05,Charlotte,violent,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
# prepare data
# split into input and target features
X = df_encoded[[ 'PLACE_TYPE_DESCRIPTION_Commercial Place', 'PLACE_TYPE_DESCRIPTION_Open Area', 'PLACE_TYPE_DESCRIPTION_Public/Non-Residential', 'PLACE_TYPE_DESCRIPTION_Residential', 'PLACE_TYPE_DESCRIPTION_Retail', 'CLEARANCE_STATUS_Cleared by Arrest', 'CLEARANCE_STATUS_Cleared by Arrest by Another Agency', 'CLEARANCE_STATUS_Exceptionally Cleared', 'CLEARANCE_STATUS_Open', 'CLEARANCE_STATUS_Unfounded' 
               , 'HIGHEST_NIBRS_CODE_899', 'HIGHEST_NIBRS_CODE_23C', 'HIGHEST_NIBRS_CODE_801', 'HIGHEST_NIBRS_CODE_13B', 'HIGHEST_NIBRS_CODE_800', 'HIGHEST_NIBRS_CODE_803', 'HIGHEST_NIBRS_CODE_13C', 'HIGHEST_NIBRS_CODE_120', 'HIGHEST_NIBRS_CODE_90Z',
       'HIGHEST_NIBRS_CODE_23D', 'HIGHEST_NIBRS_CODE_23G', 'HIGHEST_NIBRS_CODE_13A', 'HIGHEST_NIBRS_CODE_210', 'HIGHEST_NIBRS_CODE_26A', 'HIGHEST_NIBRS_CODE_23H', 'HIGHEST_NIBRS_CODE_26E', 'HIGHEST_NIBRS_CODE_35A', 'HIGHEST_NIBRS_CODE_26F',
       'HIGHEST_NIBRS_CODE_23F', 'HIGHEST_NIBRS_CODE_250', 'HIGHEST_NIBRS_CODE_270', 'HIGHEST_NIBRS_CODE_240', 'HIGHEST_NIBRS_CODE_220', 'HIGHEST_NIBRS_CODE_520', 'HIGHEST_NIBRS_CODE_290', 'HIGHEST_NIBRS_CODE_23A', 'HIGHEST_NIBRS_CODE_802',
       'HIGHEST_NIBRS_CODE_11D', 'HIGHEST_NIBRS_CODE_26B', 'HIGHEST_NIBRS_CODE_35B', 'HIGHEST_NIBRS_CODE_100', 'HIGHEST_NIBRS_CODE_23B', 'HIGHEST_NIBRS_CODE_90J', 'HIGHEST_NIBRS_CODE_26C', 'HIGHEST_NIBRS_CODE_09A', 'HIGHEST_NIBRS_CODE_370',
       'HIGHEST_NIBRS_CODE_280', 'HIGHEST_NIBRS_CODE_26G', 'HIGHEST_NIBRS_CODE_807', 'HIGHEST_NIBRS_CODE_809', 'HIGHEST_NIBRS_CODE_99Z', 'HIGHEST_NIBRS_CODE_200', 'HIGHEST_NIBRS_CODE_90D', 'HIGHEST_NIBRS_CODE_99Y', 'HIGHEST_NIBRS_CODE_90F',
       'HIGHEST_NIBRS_CODE_11A', 'HIGHEST_NIBRS_CODE_11C', 'HIGHEST_NIBRS_CODE_90C', 'HIGHEST_NIBRS_CODE_40A', 'HIGHEST_NIBRS_CODE_11B', 'HIGHEST_NIBRS_CODE_810', 'HIGHEST_NIBRS_CODE_90H', 'HIGHEST_NIBRS_CODE_90G', 'HIGHEST_NIBRS_CODE_64A',
       'HIGHEST_NIBRS_CODE_36B', 'HIGHEST_NIBRS_CODE_23E', 'HIGHEST_NIBRS_CODE_720', 'HIGHEST_NIBRS_CODE_90A', 'HIGHEST_NIBRS_CODE_804', 'HIGHEST_NIBRS_CODE_09B', 'HIGHEST_NIBRS_CODE_09C', 'HIGHEST_NIBRS_CODE_64B', 'HIGHEST_NIBRS_CODE_90B',
       'HIGHEST_NIBRS_CODE_26D', 'HIGHEST_NIBRS_CODE_36A', 'HIGHEST_NIBRS_CODE_40C', 'HIGHEST_NIBRS_CODE_40B', 'HIGHEST_NIBRS_CODE_39B', 'HIGHEST_NIBRS_CODE_806', 'HIGHEST_NIBRS_CODE_39C', 'HIGHEST_NIBRS_CODE_39A', 'HIGHEST_NIBRS_CODE_510']]
y = file_path.VIOLENCE

In [82]:
# build model
# split into test and training sets
X_train, X_test, y_train, y_test = train_test_split(
X, y, random_state=80, stratify=y)

In [83]:
logisticRegr = LogisticRegression()

In [84]:
logisticRegr.fit(X_test, y_test)

LogisticRegression()

In [85]:
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=40)

In [86]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=40)

In [87]:
y_pred = classifier.predict(X_test)

In [88]:
print(accuracy_score(y_test, y_pred))

1.0

In [89]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
   intercept_scaling=1, max_iter=100, multi_class='warn', penalty='12',
   random_state=40, solver='lbfgs', warm_start=False)

LogisticRegression(multi_class='warn', penalty='12', random_state=40)

In [90]:
# create predictions with results in Pandas DF
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

         Prediction       Actual
88216   non-violent  non-violent
313280      violent      violent
47904   non-violent  non-violent
176840  non-violent  non-violent
260083      violent      violent
...             ...          ...
231071  non-violent  non-violent
381962  non-violent  non-violent
345122  non-violent  non-violent
410804  non-violent  non-violent
377740      violent      violent

[122496 rows x 2 columns]

In [91]:
# Evaluate test performance
accuracy_score(y_test, predictions)

1.0

In [92]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[65600     0]
 [    0 56896]]

In [93]:
# Evaluatinf on test set
test_acc = accuracy_score(y_test, y_pred)
print("The Accuracy for Test Set is {}".format(test_acc*100))

The Accuracy for Test Set is 100.0

In [94]:
# generating classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

 non-violent       1.00      1.00      1.00     65600
     violent       1.00      1.00      1.00     56896

    accuracy                           1.00    122496
   macro avg       1.00      1.00      1.00    122496
weighted avg       1.00      1.00      1.00    122496

In [95]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from imblearn) (0.9.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from imbalanced-learn->imblearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\lizzi\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)

In [96]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

non-violent       1.00      1.00      1.00      1.00      1.00      1.00     65600
    violent       1.00      1.00      1.00      1.00      1.00      1.00     56896

avg / total       1.00      1.00      1.00      1.00      1.00      1.00    122496

In [97]:
# Path to postgres/aws database
database_path = "postgres:policedata5@g5-final-project.cz9sdl8p2rcm.us-east-2.rds.amazonaws.com:5432/g5-final-project"

In [98]:
# Create an engine that can talk to the database
engine = create_engine("postgresql://postgres:policedata5@g5-final-project.cz9sdl8p2rcm.us-east-2.rds.amazonaws.com:5432/Group_5_Final_Project")

In [99]:
# Get the name of the tables in database (test connection). 
inspector = inspect(engine)
inspector.get_table_names()

conn = engine.connect()

In [100]:
# Test pull to confirm table data can be read into DataFrames
count_data_df = pd.read_sql("SELECT * FROM count_data", conn)
count_data_df.head()

,incident_report_id,division_id,place_type_description,clearance_status,highest_nibrs_code,city_new
0,20220513-2308-01,2,Retail,Open,899,Charlotte
1,20220513-2024-00,22,Retail,Open,23C,Charlotte
2,20220513-2022-03,28,Public/Non-Residential,Open,899,Charlotte
3,20220513-2012-00,1,Residential,Exceptionally Cleared,899,Charlotte
4,20220513-1958-01,22,Residential,Open,801,Charlotte