In [1]:
# Dependencies
from sqlalchemy import create_engine
from sqlalchemy import inspect


# Path to postgres/aws database
database_path = "postgres:policedata5@g5-final-project.cz9sdl8p2rcm.us-east-2.rds.amazonaws.com:5432/g5-final-project"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
from collections import Counter
import seaborn as sns
import psycopg2

In [44]:
# Create an engine that can talk to the database
engine = create_engine("postgresql://postgres:policedata5@g5-final-project.cz9sdl8p2rcm.us-east-2.rds.amazonaws.com:5432/Group_5_Final_Project")

# Get the name of the tables in database (test connection). 
inspector = inspect(engine)
inspector.get_table_names()

conn = engine.connect()

# Test pull to confirm table data can be read into DataFrames
df2 = pd.read_sql("SELECT * FROM violence_ml_data", conn)

df1 = pd.read_sql("SELECT * FROM violence_count", conn)

In [45]:
df1

,incident_report_id,division_id,place_type_description,clearance_status,highest_nibrs_code,city_new,violence
0,20220513-2308-01,2,Retail,Open,899,Charlotte,non-violent
1,20220513-2024-00,22,Retail,Open,23C,Charlotte,non-violent
2,20220513-2022-03,28,Public/Non-Residential,Open,899,Charlotte,non-violent
3,20220513-2012-00,1,Residential,Exceptionally Cleared,899,Charlotte,non-violent
4,20220513-1958-01,22,Residential,Open,801,Charlotte,violent
...,...,...,...,...,...,...,...
489979,20170101-0025-07,12,Residential,Open,13A,Charlotte,violent
489980,20170101-0014-05,27,Residential,Open,290,Charlotte,non-violent
489981,20170101-0012-00,22,Commercial Place,Cleared by Arrest,13B,Charlotte,violent
489982,20170101-0011-00,2,Residential,Open,290,Charlotte,non-violent
489983,20170101-0005-01,16,Commercial Place,Cleared by Arrest,90C,Charlotte,non-violent

In [46]:
df2

,incident_report_id,division_id,place_type_description,clearance_status,highest_nibrs_code,city_new,violence
0,20220513-2308-01,2,2,1,1,1,non-violent
1,20220513-2024-00,22,2,1,2,1,non-violent
2,20220513-2022-03,28,4,1,1,1,non-violent
3,20220513-2012-00,1,1,2,1,1,non-violent
4,20220513-1958-01,22,1,1,3,1,violent
...,...,...,...,...,...,...,...
489979,20170101-0025-07,12,1,1,12,1,violent
489980,20170101-0014-05,27,1,1,25,1,non-violent
489981,20170101-0012-00,22,3,3,4,1,violent
489982,20170101-0011-00,2,1,1,25,1,non-violent
489983,20170101-0005-01,16,3,3,48,1,non-violent

# Logistic Regression

In [47]:
# sklearn processing and classification 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [48]:
# sklearn classification model evaluation
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [49]:
# import the data
file_path = df2

In [50]:
file_path.tail()

,incident_report_id,division_id,place_type_description,clearance_status,highest_nibrs_code,city_new,violence
489979,20170101-0025-07,12,1,1,12,1,violent
489980,20170101-0014-05,27,1,1,25,1,non-violent
489981,20170101-0012-00,22,3,3,4,1,violent
489982,20170101-0011-00,2,1,1,25,1,non-violent
489983,20170101-0005-01,16,3,3,48,1,non-violent

In [51]:
file_path.isnull().mean().sort_values()

incident_report_id        0.0
division_id               0.0
place_type_description    0.0
clearance_status          0.0
highest_nibrs_code        0.0
city_new                  0.0
violence                  0.0
dtype: float64

In [52]:
# prepare data
# split into input and target features
X = file_path[['division_id', 'highest_nibrs_code', 'place_type_description', 'clearance_status', 'city_new']]
y = file_path.violence

In [53]:
X.describe()

,division_id,highest_nibrs_code,place_type_description,clearance_status,city_new
count,489984.000000,489984.000000,489984.000000,489984.000000,489984.000000
mean,14.330948,14.018111,2.297246,1.672653,1.007390
std,8.494614,10.175367,1.493666,0.916322,0.158041
min,0.000000,1.000000,1.000000,1.000000,1.000000
25%,7.000000,5.000000,1.000000,1.000000,1.000000
50%,14.000000,14.000000,2.000000,1.000000,1.000000
75%,21.000000,20.000000,3.000000,2.000000,1.000000
max,92.000000,72.000000,5.000000,5.000000,13.000000

In [54]:
# build model
# split into test and training sets
X_train, X_test, y_train, y_test = train_test_split(
X, y, random_state=1, stratify=y)

In [55]:
logisticRegr = LogisticRegression()

In [56]:
logisticRegr.fit(X_train, y_train)

LogisticRegression()

In [57]:
classifier = LogisticRegression(solver='lbfgs',
   max_iter=200,
   random_state=1)

In [58]:
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [59]:
y_pred = classifier.predict(X_test)

In [60]:
print(accuracy_score(y_test, y_pred))

0.5713166144200627

In [61]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
   intercept_scaling=1, max_iter=200, multi_class='warn', penalty='12',
   random_state=1, solver='lbfgs', warm_start=False)

LogisticRegression(max_iter=200, multi_class='warn', penalty='12',
                   random_state=1)

In [62]:
# create predictions with results in Pandas DF
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

         Prediction       Actual
163078      violent  non-violent
393155  non-violent  non-violent
154781  non-violent  non-violent
357801  non-violent  non-violent
138804  non-violent      violent
...             ...          ...
278135  non-violent      violent
204450      violent      violent
486892  non-violent  non-violent
136791      violent      violent
65318   non-violent      violent

[122496 rows x 2 columns]

In [63]:
# Evaluate test performance
accuracy_score(y_test, predictions)

0.5713166144200627

In [64]:
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[48079 17521]
 [34991 21905]]

In [65]:
# Evaluatinf on test set
test_acc = accuracy_score(y_test, y_pred)
print("The Accuracy for Test Set is {}".format(test_acc*100))

The Accuracy for Test Set is 57.13166144200626

In [66]:
# generating classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

 non-violent       0.58      0.73      0.65     65600
     violent       0.56      0.39      0.45     56896

    accuracy                           0.57    122496
   macro avg       0.57      0.56      0.55    122496
weighted avg       0.57      0.57      0.56    122496

In [67]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

non-violent       0.58      0.73      0.39      0.65      0.53      0.29     65600
    violent       0.56      0.39      0.73      0.45      0.53      0.27     56896

avg / total       0.57      0.57      0.55      0.56      0.53      0.28    122496

# Deep Neural Network

In [68]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from tensorflow.keras import datasets, layers, models, callbacks
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Dense, Dropout, Flatten, Activation, BatchNormalization


# Import our input dataset
df = df1
df.head()

,incident_report_id,division_id,place_type_description,clearance_status,highest_nibrs_code,city_new,violence
0,20220513-2308-01,2,Retail,Open,899,Charlotte,non-violent
1,20220513-2024-00,22,Retail,Open,23C,Charlotte,non-violent
2,20220513-2022-03,28,Public/Non-Residential,Open,899,Charlotte,non-violent
3,20220513-2012-00,1,Residential,Exceptionally Cleared,899,Charlotte,non-violent
4,20220513-1958-01,22,Residential,Open,801,Charlotte,violent

In [69]:
df.dtypes

incident_report_id        object
division_id                int64
place_type_description    object
clearance_status          object
highest_nibrs_code        object
city_new                  object
violence                  object
dtype: object

In [73]:
df.drop(columns=["incident_report_id"], inplace=True)

In [74]:
# Generate our categorical variable list
cat = df.dtypes[df.dtypes == "object"].index.tolist()

In [75]:
# Check the number of unique values in each column
df[cat].nunique()

place_type_description     5
clearance_status           5
highest_nibrs_code        72
city_new                  13
violence                   2
dtype: int64

In [76]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(cat)
encode_df.head()

,place_type_description_Commercial Place,place_type_description_Open Area,place_type_description_Public/Non-Residential,place_type_description_Residential,place_type_description_Retail,clearance_status_Cleared by Arrest,clearance_status_Cleared by Arrest by Another Agency,clearance_status_Exceptionally Cleared,clearance_status_Open,clearance_status_Unfounded,...,city_new_Fort Mill,city_new_Huntersville,city_new_Matthews,city_new_Mecklenburg,city_new_Midland,city_new_Mint Hill,city_new_Mount Holly,city_new_Pineville,violence_non-violent,violence_violent
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [77]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df, left_index=True, right_index=True)
df = df.drop(cat,1)
df.head()

C:\Users\bpeav\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,division_id,place_type_description_Commercial Place,place_type_description_Open Area,place_type_description_Public/Non-Residential,place_type_description_Residential,place_type_description_Retail,clearance_status_Cleared by Arrest,clearance_status_Cleared by Arrest by Another Agency,clearance_status_Exceptionally Cleared,clearance_status_Open,...,city_new_Fort Mill,city_new_Huntersville,city_new_Matthews,city_new_Mecklenburg,city_new_Midland,city_new_Mint Hill,city_new_Mount Holly,city_new_Pineville,violence_non-violent,violence_violent
0,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,22,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,28,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,22,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [78]:
# Split our preprocessed data into our features and target arrays
y = df["violence_non-violent"].values
X = df.drop(["violence_non-violent","violence_violent"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

C:\Users\bpeav\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [79]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [80]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()
#nn.add(layers.Flatten())
# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 8)                 776

 dense_16 (Dense)            (None, 5)                 45

 dense_17 (Dense)            (None, 1)                 6

=================================================================
Total params: 827
Trainable params: 827
Non-trainable params: 0
_________________________________________________________________

In [81]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [82]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=5)

Epoch 1/5
11484/11484 [==============================] - 14s 1ms/step - loss: 0.0213 - accuracy: 0.9930
Epoch 2/5
11484/11484 [==============================] - 14s 1ms/step - loss: 2.0768e-04 - accuracy: 1.0000
Epoch 3/5
11484/11484 [==============================] - 16s 1ms/step - loss: 1.1430e-04 - accuracy: 1.0000
Epoch 4/5
11484/11484 [==============================] - 20s 2ms/step - loss: 1.7131e-06 - accuracy: 1.0000
Epoch 5/5
11484/11484 [==============================] - 18s 2ms/step - loss: 5.3145e-06 - accuracy: 1.0000

In [83]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3828/3828 - 5s - loss: 9.6605e-06 - accuracy: 1.0000 - 5s/epoch - 1ms/step
Loss: 9.660469004302286e-06, Accuracy: 0.9999918341636658