In [1]:
import pandas as pd

In [2]:
call_data_to_load = 'CMPD_Calls_for_Service.csv'
offense_data_to_load = 'Violent_Crime_Offenses.csv'
incident_data_to_load = 'CMPD_Incidents.csv'

call_data_df = pd.read_csv(call_data_to_load)
offense_data_df = pd.read_csv(offense_data_to_load)
incident_data_df = pd.read_csv(incident_data_to_load)

C:\Users\bpeav\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Call Data Dataframe Information

In [3]:
call_data_df.head()

,ROW_TYPE,GEOGRAPHY,GEOGRAPHY_ID,CALENDAR_YEAR,CALENDAR_MONTH,CALL_DESCRIPTION,CALL_COUNT,OBJECTID
0,CMPD Jurisdiction,CMPD,0,2022,3,CMPD Patrol Calls For Service,32057,1
1,CMPD Jurisdiction,CMPD,0,2022,3,CMPD DV Calls For Service,3273,2
2,Neighborhood Profile Area,0,0,2022,3,CMPD DV Calls For Service,1,3
3,Neighborhood Profile Area,0,0,2022,3,CMPD Patrol Calls For Service,7,4
4,Neighborhood Profile Area,10,10,2022,3,CMPD Patrol Calls For Service,193,5

In [4]:
call_data_df.dtypes

ROW_TYPE            object
GEOGRAPHY           object
GEOGRAPHY_ID         int64
CALENDAR_YEAR        int64
CALENDAR_MONTH       int64
CALL_DESCRIPTION    object
CALL_COUNT           int64
OBJECTID             int64
dtype: object

In [5]:
# No nulls
call_data_df.notnull().sum()

ROW_TYPE            68274
GEOGRAPHY           68274
GEOGRAPHY_ID        68274
CALENDAR_YEAR       68274
CALENDAR_MONTH      68274
CALL_DESCRIPTION    68274
CALL_COUNT          68274
OBJECTID            68274
dtype: int64

In [6]:
# Too many useless entries, 4 that are viable out the gate
call_data_df.GEOGRAPHY.unique()

array(['CMPD', '0', '10', '100', '101', '102', '103', '105', '106', '107',
       '108', '109', '11', '110', '111', '112', '113', '114', '115',
       '116', '117', '118', '119', '12', '120', '121', '122', '123',
       '124', '125', '126', '127', '128', '129', '13', '130', '131',
       '132', '133', '134', '135', '136', '137', '138', '139', '14',
       '140', '141', '142', '143', '144', '145', '146', '147', '148',
       '149', '15', '150', '151', '152', '153', '154', '155', '156',
       '157', '158', '159', '16', '160', '161', '162', '163', '164',
       '165', '166', '167', '168', '169', '17', '170', '171', '172',
       '173', '174', '175', '176', '177', '178', '179', '18', '180',
       '181', '182', '183', '184', '185', '186', '187', '188', '189',
       '19', '190', '191', '192', '193', '194', '195', '196', '197',
       '198', '199', '2', '20', '200', '201', '202', '203', '204', '205',
       '206', '207', '208', '209', '21', '210', '211', '212', '213',
       '215', '216', '217', '218', '219', '22', '220', '221', '222',
       '223', '224', '225', '226', '227', '228', '229', '23', '230',
       '231', '232', '233', '234', '235', '236', '237', '238', '24',
       '240', '241', '242', '243', '244', '245', '246', '247', '248',
       '249', '25', '250', '251', '252', '253', '254', '255', '256',
       '257', '258', '259', '26', '260', '261', '262', '263', '264',
       '265', '266', '267', '268', '269', '27', '270', '271', '272',
       '273', '274', '275', '276', '277', '278', '279', '28', '280',
       '281', '282', '283', '284', '285', '286', '287', '288', '289',
       '29', '290', '291', '292', '293', '294', '295', '296', '297',
       '298', '299', '3', '30', '300', '301', '302', '303', '304', '305',
       '306', '307', '308', '309', '31', '310', '311', '312', '313',
       '314', '315', '316', '317', '318', '319', '32', '320', '321',
       '322', '323', '324', '325', '326', '327', '328', '329', '33',
       '330', '331', '332', '333', '334', '335', '336', '337', '338',
       '339', '34', '340', '341', '342', '343', '344', '345', '346',
       '347', '348', '349', '35', '350', '351', '352', '353', '354',
       '355', '356', '357', '358', '359', '36', '360', '361', '362',
       '363', '364', '365', '366', '367', '368', '369', '37', '370',
       '371', '372', '373', '374', '375', '376', '377', '378', '379',
       '38', '380', '381', '382', '383', '384', '385', '386', '387',
       '388', '389', '39', '390', '391', '392', '393', '394', '396', '4',
       '40', '402', '41', '418', '42', '422', '423', '425', '428', '43',
       '432', '435', '437', '44', '442', '443', '444', '45', '450', '452',
       '455', '457', '459', '46', '47', '48', '49', '5', '50', '51', '52',
       '53', '54', '55', '56', '57', '58', '59', '6', '60', '61', '62',
       '64', '65', '66', '67', '68', '69', '7', '70', '71', '72', '73',
       '74', '75', '76', '77', '78', '79', '8', '80', '81', '82', '83',
       '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93',
       '94', '95', '96', '97', '98', '99', 'Beatties Ford Area',
       'Central/Sharon Amity Area', 'Nations Ford/Arrowood Area',
       'Sugar Creek/I-85 Area', '406', '430', '462', '401', '424', '448',
       '453', '454', '464', '466', '431', '434', '463', '400', '407',
       '420', '447', '451', '471', '417', '416', '433', '460', '465',
       '467', '409', '473', '411', '412', '469', '436', '408', '470',
       '399', '426', '421', '413', '419', '449', '445', '446', '395',
       '397', '438', '403', '458', '398', '475', '474', '456', '404',
       '468', '405', '410', '472'], dtype=object)

In [7]:
# Possible df of useful information?
call_df2 = call_data_df[["ROW_TYPE", "GEOGRAPHY", "CALENDAR_YEAR", "CALENDAR_MONTH", "CALL_DESCRIPTION", "CALL_COUNT"]]
call_df2

,ROW_TYPE,GEOGRAPHY,CALENDAR_YEAR,CALENDAR_MONTH,CALL_DESCRIPTION,CALL_COUNT
0,CMPD Jurisdiction,CMPD,2022,3,CMPD Patrol Calls For Service,32057
1,CMPD Jurisdiction,CMPD,2022,3,CMPD DV Calls For Service,3273
2,Neighborhood Profile Area,0,2022,3,CMPD DV Calls For Service,1
3,Neighborhood Profile Area,0,2022,3,CMPD Patrol Calls For Service,7
4,Neighborhood Profile Area,10,2022,3,CMPD Patrol Calls For Service,193
...,...,...,...,...,...,...
68269,Violent Crime Hotspot,Central/Sharon Amity Area,2015,1,CMPD DV Calls For Service,49
68270,Violent Crime Hotspot,Nations Ford/Arrowood Area,2015,1,CMPD DV Calls For Service,52
68271,Violent Crime Hotspot,Nations Ford/Arrowood Area,2015,1,CMPD Patrol Calls For Service,502
68272,Violent Crime Hotspot,Sugar Creek/I-85 Area,2015,1,CMPD DV Calls For Service,113
68273,Violent Crime Hotspot,Sugar Creek/I-85 Area,2015,1,CMPD Patrol Calls For Service,807

In [8]:
# Putting rows with actual Geo name to the top
call_data_df.sort_values('GEOGRAPHY',ascending=False)

,ROW_TYPE,GEOGRAPHY,GEOGRAPHY_ID,CALENDAR_YEAR,CALENDAR_MONTH,CALL_DESCRIPTION,CALL_COUNT,OBJECTID
68273,Violent Crime Hotspot,Sugar Creek/I-85 Area,0,2015,1,CMPD Patrol Calls For Service,807,68274
21807,Violent Crime Hotspot,Sugar Creek/I-85 Area,0,2019,12,CMPD Patrol Calls For Service,925,21808
53303,Violent Crime Hotspot,Sugar Creek/I-85 Area,0,2016,8,CMPD Patrol Calls For Service,1010,53304
22593,Violent Crime Hotspot,Sugar Creek/I-85 Area,0,2019,11,CMPD Patrol Calls For Service,899,22594
22594,Violent Crime Hotspot,Sugar Creek/I-85 Area,0,2019,11,CMPD DV Calls For Service,96,22595
...,...,...,...,...,...,...,...,...
35878,Neighborhood Profile Area,0,0,2018,5,CMPD Patrol Calls For Service,6,35879
35879,Neighborhood Profile Area,0,0,2018,5,CMPD DV Calls For Service,2,35880
17905,Neighborhood Profile Area,0,0,2020,4,CMPD Patrol Calls For Service,5,17906
61191,Neighborhood Profile Area,0,0,2015,9,CMPD Patrol Calls For Service,5,61192
7835,Neighborhood Profile Area,0,0,2021,5,CMPD DV Calls For Service,1,7836

# Offense Data Dataframe Information

In [9]:
offense_data_df.head()

,OBJECTID,ROW_TYPE,GEOGRAPHY,GEOGRAPHY_ID,CALENDAR_YEAR,CALENDAR_MONTH,OFFENSE_DESCRIPTION,OFFENSE_COUNT
0,1,CMPD Jurisdiction,CMPD,0,2015,1,Homicide,8
1,2,CMPD Jurisdiction,CMPD,0,2015,3,Aggravated Assault-Knife,48
2,3,CMPD Jurisdiction,CMPD,0,2015,5,Attempted Rape,2
3,4,CMPD Jurisdiction,CMPD,0,2015,2,Homicide,5
4,5,CMPD Jurisdiction,CMPD,0,2015,7,Aggravated Assault-Knife,47

In [20]:
offense_data_df.dtypes

OBJECTID                int64
ROW_TYPE               object
GEOGRAPHY              object
GEOGRAPHY_ID            int64
CALENDAR_YEAR           int64
CALENDAR_MONTH          int64
OFFENSE_DESCRIPTION    object
OFFENSE_COUNT           int64
dtype: object

In [10]:
# No nulls
offense_data_df.notnull().sum()

OBJECTID               48777
ROW_TYPE               48777
GEOGRAPHY              48777
GEOGRAPHY_ID           48777
CALENDAR_YEAR          48777
CALENDAR_MONTH         48777
OFFENSE_DESCRIPTION    48777
OFFENSE_COUNT          48777
dtype: int64

In [11]:
# Same as above, only 4 useable labels 
offense_data_df.GEOGRAPHY.unique()

array(['CMPD', '84', '389', '30', '96', '307', '120', '387', '230', '53',
       '376', '79', '124', '116', '294', '142', '361', '74', '70', '382',
       '123', '338', '374', '213', '182', '125', '237', '315', '171',
       '328', '353', '366', '278', '21', '10', '291', '371', '314', '168',
       '234', '223', '164', '331', '219', '327', '312', '64', '165',
       '323', '130', '289', '109', '140', '199', '212', '12', '185', '71',
       '386', '157', '367', '138', '378', '56', '232', '99', '370', '240',
       '66', '186', '60', '341', '145', '160', '316', '146', '363', '59',
       '336', '37', '290', '254', '25', '249', '90', '88', '101', '183',
       '50', '198', '304', '334', '52', '383', '340', '358', '48', '24',
       '93', '3', '2', '16', '349', '385', '6', '85', '141', '274', '46',
       '342', '13', '102', '43', '139', '306', '114', '256', '317', '122',
       '293', '166', '311', '121', '368', '35', '346', '72', '58', '246',
       '280', '103', '347', '147', '207', '128', '248', '329', '339',
       '135', '286', '209', '326', '321', '247', '40', '300', '61', '22',
       '393', '34', '388', '17', '287', '51', '67', '97', '127', '68',
       '384', '178', '362', '87', '200', '220', '221', '343', '202', '78',
       '292', '210', '119', '259', '260', '54', '134', '113', '38', '27',
       '86', '357', '100', '354', '268', '159', '233', '162', '330',
       '155', '106', '369', '57', '191', '196', '105', '36', '302', '356',
       '94', '272', '158', '137', '92', '73', '381', '442', '344', '23',
       '245', '242', '197', '167', '204', '299', '255', '238', '163',
       '261', '107', '264', '365', '95', '170', '190', '333', '283',
       '282', '303', '180', '325', '174', '394', '154', '231', '319', '5',
       '352', '275', '313', '189', '188', '175', '270', '83', '173',
       '112', '281', '150', '39', '91', '65', '153', '271', '161', '348',
       '229', '227', '11', '49', '279', '28', '77', '15', '26', '110',
       '111', '462', '444', '437', '218', '14', '277', '285', '244',
       '360', '396', '18', '82', '301', '47', '295', '372', '258', '4',
       '184', '257', '89', '225', '305', '192', '267', '390', '320',
       '195', '469', '156', '193', '318', '172', '136', '211', '332',
       '76', '55', '224', '379', '377', '31', '45', '81', '345', '266',
       '430', '8', '117', '380', '108', '296', '392', '132', '181', '391',
       '176', '273', '276', '118', '131', '80', '115', '269', '373',
       '400', '29', '308', '177', '20', '250', '432', '310', '205', '151',
       '355', '126', '42', '235', '33', '284', '251', '179', '98', '75',
       '203', '337', '187', '169', '364', '335', '324', '298', '241',
       '407', '262', '144', '69', '7', '149', '152', '129', '206', '351',
       '438', '41', '252', '133', '450', '422', '32', '443', '44', '454',
       '322', '359', '265', '375', '350', '19', '475', '226', '62', '228',
       '143', '9', '236', '309', '194', '253', '201', '288', '434', '148',
       '216', '243', '208', '451', '263', '215', '401', '217', '222',
       '452', '424', '403', '412', '428', '473', '0',
       'Central/Sharon Amity Area', 'Nations Ford/Arrowood Area',
       'Beatties Ford Area', 'Sugar Creek/I-85 Area'], dtype=object)

In [12]:
# Same columns as call data df
offense_df2 = offense_data_df[["ROW_TYPE", "GEOGRAPHY", "CALENDAR_YEAR", "CALENDAR_MONTH", "OFFENSE_DESCRIPTION", "OFFENSE_COUNT"]]
offense_df2

,ROW_TYPE,GEOGRAPHY,CALENDAR_YEAR,CALENDAR_MONTH,OFFENSE_DESCRIPTION,OFFENSE_COUNT
0,CMPD Jurisdiction,CMPD,2015,1,Homicide,8
1,CMPD Jurisdiction,CMPD,2015,3,Aggravated Assault-Knife,48
2,CMPD Jurisdiction,CMPD,2015,5,Attempted Rape,2
3,CMPD Jurisdiction,CMPD,2015,2,Homicide,5
4,CMPD Jurisdiction,CMPD,2015,7,Aggravated Assault-Knife,47
...,...,...,...,...,...,...
48772,Violent Crime Hotspot,Central/Sharon Amity Area,2016,7,Non-Fatal Gunshot Injury,1
48773,Violent Crime Hotspot,Central/Sharon Amity Area,2021,1,Non-Fatal Gunshot Injury,1
48774,Violent Crime Hotspot,Central/Sharon Amity Area,2016,12,Non-Fatal Gunshot Injury,1
48775,Violent Crime Hotspot,Sugar Creek/I-85 Area,2016,8,Non-Fatal Gunshot Injury,1
48776,Violent Crime Hotspot,Sugar Creek/I-85 Area,2016,5,Non-Fatal Gunshot Injury,1

# Incident Dataframe Information

In [13]:
incident_data_df.head()

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,ZIP,X_COORD_PUBLIC,Y_COORD_PUBLIC,...,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,CLEARANCE_DETAIL_STATUS,CLEARANCE_DATE,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID,Shape
0,-80.738507,35.238338,2022,20220429-2230-04,4000 SUNRIDGE LN,CHARLOTTE,NC,28215.0,1480922.0,546215.0,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,13C,Intimidation,1,{D6F34BFB-E142-4170-B099-7396CBE1B09B},NaN
1,-80.788948,35.267147,2022,20220429-2043-01,4800 SNOW WHITE LN,CHARLOTTE,NC,NaN,1466052.0,556966.0,...,Residential,Private Residence,Open,Open,NaN,220,Burglary/B&E,2,{94A21B07-C2EC-4F48-ADDC-1D29E8D9CA46},NaN
2,-80.779800,35.193553,2022,20220429-2026-00,2300 SHADE VALLEY RD,CHARLOTTE,NC,28205.0,1468302.0,530137.0,...,Residential,Private Residence,Open,Open,NaN,23H,All Other Thefts,3,{96E45602-8D37-4394-B74A-FA9FE04A84C6},NaN
3,-80.833865,35.222805,2022,20220429-2019-03,300 N MYERS ST,CHARLOTTE,NC,28202.0,1452349.0,541075.0,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,899,Other Unlisted Non-Criminal,4,{FF9E47AB-C8F2-413C-9469-3A63CEEB27DC},NaN
4,-80.664527,35.220411,2022,20220429-1950-02,9100 MAGNOLIA LILY AV,CHARLOTTE,NC,28227.0,1502899.0,539313.0,...,Residential,Private Residence,Open,Open,NaN,13C,Intimidation,5,{F554C5AE-BA72-40F9-9792-CF4DFC88B826},NaN

In [21]:
incident_data_df.dtypes

X                            float64
Y                            float64
YEAR                           int64
INCIDENT_REPORT_ID            object
LOCATION                      object
CITY                          object
STATE                         object
ZIP                           object
X_COORD_PUBLIC               float64
Y_COORD_PUBLIC               float64
LATITUDE_PUBLIC              float64
LONGITUDE_PUBLIC             float64
DIVISION_ID                   object
CMPD_PATROL_DIVISION          object
NPA                            int64
DATE_REPORTED                 object
DATE_INCIDENT_BEGAN           object
DATE_INCIDENT_END             object
ADDRESS_DESCRIPTION           object
LOCATION_TYPE_DESCRIPTION     object
PLACE_TYPE_DESCRIPTION        object
PLACE_DETAIL_DESCRIPTION      object
CLEARANCE_STATUS              object
CLEARANCE_DETAIL_STATUS       object
CLEARANCE_DATE                object
HIGHEST_NIBRS_CODE            object
HIGHEST_NIBRS_DESCRIPTION     object
OBJECTID                       int64
GlobalID                      object
Shape                        float64
dtype: object

In [14]:
# Quite a few null columns
incident_data_df.notnull().sum()

X                            469625
Y                            469625
YEAR                         486985
INCIDENT_REPORT_ID           486985
LOCATION                     486985
CITY                         486985
STATE                        486982
ZIP                          338106
X_COORD_PUBLIC               469625
Y_COORD_PUBLIC               469625
LATITUDE_PUBLIC              469625
LONGITUDE_PUBLIC             469625
DIVISION_ID                  486985
CMPD_PATROL_DIVISION         486265
NPA                          486985
DATE_REPORTED                486985
DATE_INCIDENT_BEGAN          486985
DATE_INCIDENT_END            362777
ADDRESS_DESCRIPTION          486982
LOCATION_TYPE_DESCRIPTION    486984
PLACE_TYPE_DESCRIPTION       486985
PLACE_DETAIL_DESCRIPTION     486985
CLEARANCE_STATUS             486985
CLEARANCE_DETAIL_STATUS      486985
CLEARANCE_DATE               200311
HIGHEST_NIBRS_CODE           486985
HIGHEST_NIBRS_DESCRIPTION    486985
OBJECTID                     486985
GlobalID                     486985
Shape                             0
dtype: int64

In [15]:
# Several non-Charlotte entries, do we include these or cut them?
incident_data_df.CITY.unique()

array(['CHARLOTTE', 'CHAROLTTE', 'PINEVILLE', 'MATTHEWS', 'MINT HILL',
       'CHARLOTE', 'HUNTERSVILLE', 'HUNTERVILLE', 'CHARLOTTTE',
       'DAVIDSON', 'BALLANTYNE', 'CHARLOTTE, NC', 'RT SIDE',
       'CHARLOTTE NC', 'CHARLOTTE, NC 28209', 'CHARLOTTE,  28211',
       'CHARLOTTEJAVASCRIPT:VOID PT_SU', 'CORNELIUS',
       'CHARLOTTE/NC/28269', '1640 DEWBERRY TER', 'MECKLENBURG',
       'CHAARLOTTE', 'CHRLOTTE', 'OTHER/NOT LISTED', 'UNKNOWN/REFUSED',
       'MATHEWS', 'CHARLOOTE', 'HUMTERSVILLE', 'CHARLOLTTE', 'H', '28210',
       'CHARLOTTLE', 'MECKLENBERG', 'MOUNT HOLLY', 'CHARLTOTE',
       'MECKLENBRUG', '28273', 'CHARROLTE', 'CHRALOTTE', 'PINEVLE',
       'CHARLOTTE, NC 28206', 'MINTHILL', 'CHARTLOTTE', '110',
       'CHARLOTT3215E', 'CHAROLETTE', 'MIDLAND', 'MATTHES', '28277', 'C',
       'CHARLOTT', '28226', 'CONCORD', 'FORT MILL', 'CHARLOTTE, NC 28211',
       'CHARLOTTE,', 'CHARLOTTEE', 'CHARRLOTE', '28205', 'MINT HIL'],
      dtype=object)

In [16]:
# Quite a lot of different labels, possibly condense? Violent/Non Violent/Fraud etc
incident_data_df.HIGHEST_NIBRS_DESCRIPTION.unique()

array(['Intimidation', 'Burglary/B&E', 'All Other Thefts',
       'Other Unlisted Non-Criminal',
       'Sudden/Natural Death Investigation', 'Shoplifting',
       'False Pretenses/Swindle', 'Simple Assault',
       'Credit Card/Teller Fraud', 'Stolen Property Offenses',
       'Drug/Narcotic Violations', 'Damage/Vandalism Of Property',
       'Theft of Motor Vehicle Parts from Vehicle', 'Purse-Snatching',
       'Trespass Of Real Property', 'Robbery', 'Missing Person',
       'Identity Theft', 'Theft From Motor Vehicle',
       'Counterfeiting/Forgery', 'All Other Offenses',
       'Theft From Building', 'Aggravated Assault', 'Motor Vehicle Theft',
       'Hacking/Computer Invasion', 'Forcible Rape', 'Disorderly Conduct',
       'Embezzlement', 'Drug Equipment Violations', 'Suicide',
       'Weapon Law Violations', 'Vehicle Recovery',
       'Driving Under The Influence', 'Overdose',
       'Family Offenses; Nonviolent',
       'Human Trafficking, Commercial Sex Acts', 'Impersonation',
       'Affray', 'Forcible Fondling', 'Liquor Law Violations',
       'Pocket-Picking', 'Arson', 'Indecent Exposure',
       'Pornography/Obscene Material', 'Public Accident',
       'Extortion/Blackmail', 'Statutory Rape', 'Forcible Sodomy',
       'Peeping Tom', 'Kidnapping', 'Murder', 'Wire Fraud',
       'Fire (Accidental/Non-Arson)', 'Animal Cruelty',
       'Worthless Check: Felony (over $2000)',
       'Dog Bite/Animal Control Incident', 'Sexual Assault With Object',
       'Theft From Coin-Operated Machine Or Device',
       'Negligent Manslaughter', 'Justifiable Homicide',
       'Human Trafficking, Involuntary Servitude', 'Prostitution',
       'Curfew/Loitering/Vagrancy Violations', 'Welfare Fraud', 'Incest',
       'Purchasing Prostitution', 'Assisting Prostitution',
       'Assisting Gambling', 'Gas Leak', 'Gambling Equipment Violations',
       'Betting/Wagering', 'Bribery'], dtype=object)

In [17]:
# Would need to clean up and remove nan and unknown, plus non-Charlotte if we don't want to do the Charlote-metro area
incident_data_df.CMPD_PATROL_DIVISION.unique()

array(['Hickory Grove', 'North Tryon', 'Providence', 'Central', 'Eastway',
       'Independence', 'North', 'Westover', 'University City', 'South',
       'Airport', 'Steele Creek', 'Freedom', 'Metro', nan, 'Huntersville',
       'Davidson', 'Unknown'], dtype=object)

In [18]:
# Useful for percentage of successful calls perhaps? 
incident_data_df.CLEARANCE_STATUS.unique()

array(['Open', 'Exceptionally Cleared', 'Cleared by Arrest', 'Unfounded',
       'Cleared by Arrest by Another Agency'], dtype=object)

In [24]:
# Possible reduced dataframe?
incident_df2 = incident_data_df[['CMPD_PATROL_DIVISION', 'HIGHEST_NIBRS_DESCRIPTION', 'PLACE_TYPE_DESCRIPTION', 'CLEARANCE_STATUS']]
incident_df2

,CMPD_PATROL_DIVISION,HIGHEST_NIBRS_DESCRIPTION,PLACE_TYPE_DESCRIPTION,CLEARANCE_STATUS
0,Hickory Grove,Intimidation,Residential,Open
1,North Tryon,Burglary/B&E,Residential,Open
2,Providence,All Other Thefts,Residential,Open
3,Central,Other Unlisted Non-Criminal,Residential,Open
4,Hickory Grove,Intimidation,Residential,Open
...,...,...,...,...
486980,Hickory Grove,Aggravated Assault,Residential,Open
486981,Freedom,Damage/Vandalism Of Property,Residential,Open
486982,South,Simple Assault,Commercial Place,Cleared by Arrest
486983,Metro,Damage/Vandalism Of Property,Residential,Open
486984,Providence,Disorderly Conduct,Commercial Place,Cleared by Arrest