In [73]:
# SQLAlchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
# Pandas
import pandas as pd

# Path to sqlite
database_path = "postgres:policedata5@g5-final-project.cz9sdl8p2rcm.us-east-2.rds.amazonaws.com:5432/g5-final-project"

In [74]:
# Create an engine that can talk to the database
engine = create_engine("postgresql://postgres:policedata5@g5-final-project.cz9sdl8p2rcm.us-east-2.rds.amazonaws.com:5432/Group_5_Final_Project")

In [75]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['count_data', 'date_data', 'location_data']

In [76]:
conn = engine.connect()

In [77]:
count_data_df = pd.read_sql("SELECT * FROM count_data", conn)
count_data_df.head()

,incident_report_id,division_id,place_type_description,clearance_status,highest_nibrs_code,city_new
0,20220513-2308-01,2,Retail,Open,899,Charlotte
1,20220513-2024-00,22,Retail,Open,23C,Charlotte
2,20220513-2022-03,28,Public/Non-Residential,Open,899,Charlotte
3,20220513-2012-00,1,Residential,Exceptionally Cleared,899,Charlotte
4,20220513-1958-01,22,Residential,Open,801,Charlotte